<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Zomato
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-item>
      <ion-input placeholder="Enter Input" [(ngModel)]="resto"></ion-input>
    </ion-item>
    <ion-button (click)="searchRestaurant()" color="primary" expand="block" class="ios button button-block button-solid ion-activatable ion-focusable hydrated">Search</ion-button>
  </div>
  <ion-list>
    <div class="result" *ngIf="results">
      <ion-list *ngFor="let resto of results">
        <ion-item [routerLink]="'/resto/' + resto.restaurant.id" routerDirection="forward">
          <ion-thumbnail slot="start">
              <ion-img [src]="resto.restaurant.photos[0].photo.thumb_url"></ion-img>>
          </ion-thumbnail>
          <ion-label>
            <h3>{{ resto.restaurant.name }}</h3>
            <p>{{ resto.restaurant.location.address }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-list>
</ion-content>
